@inject IGameDataService GameDataService
@inject HttpClient Client
@inject LoginService LoginService
@inject StateContainer StateContainer

@page "/Users/{baid:int}/HighScores"

@* <MudBreadcrumbs Items="breadcrumbs" Class="px-0"></MudBreadcrumbs> *@

@{
    StateContainer.currentTitle = "High Scores";
}
@* <MudText Typo="Typo.caption">User: @Baid</MudText> *@


<MudGrid Class="my-8">
    @if (response is null)
    {
        <MudItem xs="12">
            <MudText Align="Align.Center">
                @Localizer["No data."]
            </MudText>
        </MudItem>
    }
    else
    {
        @if (LoginService.LoginRequired && (!LoginService.IsLoggedIn || (LoginService.GetLoggedInUser().Baid != Baid && !LoginService.IsAdmin)))
        {
            <MudItem xs="12">
                <MudText Align="Align.Center" Class="my-8">
                    @Localizer["Key_02"]
                </MudText>
            </MudItem>
        }
        else
        {
            <MudItem xs="12">
                <MudTable Outlined="true" AllowUnsorted="false" Items="@response.SongBestData" Class="pa-0" T="SongBestData" Striped="true" Hover="false" RowsPerPage="25" Breakpoint="Breakpoint.None" OnRowClick="@RowClicked" Filter="new Func<SongBestData,bool>(FilterFunc)">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">@($"Displaying {@response.SongBestData.Count()} PBs")</MudText>
                        <MudSpacer />
                        @* <MudSelect T="string">
                @foreach (var difficulty in Enum.GetValues<Difficulty>())
                {
                <MudSelectItem Value="@GetDifficultyTitle(difficulty)">
                @if (difficulty is not Difficulty.None)
                {
                <MudIcon Icon="@GetDifficultyIcon(difficulty)" />
                }
                @GetDifficultyTitle(difficulty)
                </MudSelectItem>
                }
                </MudSelect> *@
                        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <ColGroup>
                        <col style="width:20px;" />
                        <col style="width:20px;" />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col style="width:0px;" />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<SongBestData, object>(x=>((int)x.Difficulty+1) * 10000000 + x.Stars * 1000000 + x.BestScore)"></MudTableSortLabel></MudTh>
                        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<SongBestData, object>(x=>x.Stars * 10000000 + (int)x.Difficulty * 1000000 + x.BestScore)">Level</MudTableSortLabel></MudTh>
                        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<SongBestData, object>(x=>x.MusicName)">Song</MudTableSortLabel></MudTh>
                        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<SongBestData, object>(x=>x.Genre.ToString() + x.MusicName)">Genre</MudTableSortLabel></MudTh>
                        <MudTh Style="text-align:center"><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<SongBestData, object>(x=>x.BestScore)">Score</MudTableSortLabel></MudTh>
                        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<SongBestData, object>(x=>(int)x.BestCrown * 10000000 + x.BestScore)">Crown</MudTableSortLabel></MudTh>
                        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<SongBestData, object>(x=>(int)x.BestScoreRank * 10000000 + x.BestScore)">Rank</MudTableSortLabel></MudTh>
                        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<SongBestData, object>(x=>x.BestPlayTime)">Play Date</MudTableSortLabel></MudTh>
                        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<SongBestData, object>(x=>x.IsFavorite)"></MudTableSortLabel></MudTh>
                        <MudTh Style="text-align:center"></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        @* Difficulty rating *@
                        <MudTd DataLabel="Difficulty" Style="text-align:center"><MudIcon Style=@IconStyle Icon="@GetDifficultyIcon(context.Difficulty)" /></MudTd>
                        @* Star rating *@
                        <MudTd DataLabel="Level">
                            <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center">
                                <MudIcon Icon="@Icons.Material.Filled.Star" Size="Size.Small" />
                                <MudText Typo="Typo.caption" Style="line-height:1;margin-top:2px;margin-right:2px;">@context.Stars</MudText>
                                </MudStack>
                            </MudTd>

                            @* Song title *@
                            <MudTd DataLabel="Song">
                                <div>
                                    <MudText Typo="Typo.body2" Style="font-weight:bold">@context.MusicName</MudText>
                                    <MudText Typo="Typo.caption">@context.MusicArtist</MudText>
                                </div>
                            </MudTd>

                            @* Genre display *@
                            <MudTd DataLabel="Genre" Style="text-align:center">
                                <MudChip Style=@GetGenreStyle(context.Genre) Size="Size.Small">@GetGenreTitle(context.Genre)</MudChip>
                            </MudTd>

                            <MudTd DataLabel="Score" Style="text-align:center">@context.BestScore</MudTd>
                            <MudTd DataLabel="Crown" Style="text-align:center"><img src="@($"/images/crown_{context.BestCrown}.png")" alt="@(GetCrownText(context.BestCrown))" title="@(GetCrownText(context.BestCrown))" style=@IconStyle /></MudTd>
                            <MudTd DataLabel="Rank" Style="text-align:center">
                                @if (context.BestScoreRank is not ScoreRank.None)
                            {
                                <img src="@($"/images/rank_{context.BestScoreRank}.png")" alt="@(GetRankText(context.BestScoreRank))" title="@(GetRankText(context.BestScoreRank))" style=@IconStyle />
                            }
                        </MudTd>
                        <MudTd DataLabel="Play Date">@context.BestPlayTime</MudTd>

                            <MudTd DataLabel="Favorite" Style="text-align:center">
                                <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                                    <MudToggleIconButton Toggled="@context.IsFavorite"
                                                         ToggledChanged="@(async () => await OnFavoriteToggled(context))"
                                                         Icon="@Icons.Material.Filled.FavoriteBorder" Color="@Color.Primary"
                                                         ToggledIcon="@Icons.Material.Filled.Favorite" ToggledColor="@Color.Primary"
                                                         Size="Size.Small"
                                                         ToggledSize="Size.Small"
                                                         Title="Add to favorites" ToggledTitle="Remove from favorites" />
                                </MudStack>
                            </MudTd>
                            <MudTd DataLabel="Favorite" Style="text-align:center">
                                <MudIcon Icon="@(context.ShowDetails ? Icons.Material.Filled.ArrowDropUp : Icons.Material.Filled.ArrowDropDown)"></MudIcon>
                            </MudTd>
                        </RowTemplate>
                        <ChildRowContent>
                            @if (context.ShowDetails)
                        {
                            var tempList = new List<SongBestData>();
                            tempList.Add(context);
                            <td colspan="9">
                                <MudCard Elevation="0">
                                    <MudCardHeader>
                                        <MudTabs Outlined="true" Position="@Position.Left" Rounded="true" Border="true"
                                                 ApplyEffectsToContainer="true" Class="mt-0" PanelClass="pa-0">
                                            <MudTabPanel Text="Details">
                                                <MudTable Elevation="0" Breakpoint="@Breakpoint.None" ReadOnly="true" Striped="false"
                                                          Items="@tempList" T="SongBestData" Context="detailList">
                                                    <HeaderContent>
                                                        <MudTh>Good</MudTh>
                                                        <MudTh>OK</MudTh>
                                                        <MudTh>Bad</MudTh>
                                                        <MudTh>Drumroll</MudTh>
                                                        <MudTh>MAX Combo</MudTh>
                                                        <MudTh>Total Plays</MudTh>
                                                        <MudTh>Total Clears</MudTh>
                                                        <MudTh>Total Full Combos</MudTh>
                                                        <MudTh>Total Donderful Combos</MudTh>
                                                    </HeaderContent>
                                                    <RowTemplate>
                                                        <MudTd>@(detailList.GoodCount)</MudTd>
                                                        <MudTd>@(detailList.OkCount)</MudTd>
                                                        <MudTd>@(detailList.MissCount)</MudTd>
                                                        <MudTd>@(detailList.DrumrollCount)</MudTd>
                                                        <MudTd>@(detailList.ComboCount)</MudTd>
                                                        <MudTd>@(detailList.PlayCount)</MudTd>
                                                        <MudTd>@(detailList.ClearCount)</MudTd>
                                                        <MudTd>@(detailList.FullComboCount)</MudTd>
                                                        <MudTd>@(detailList.PerfectCount)</MudTd>
                                                    </RowTemplate>
                                                </MudTable>
                                            </MudTabPanel>
                                            @if (context.AiSectionBestData.Count > 0)
                                            {
                                                <MudTabPanel Text="Ai Battle">
                                                    <MudTable Elevation="0" Breakpoint="@Breakpoint.None" ReadOnly="true" Striped="false"
                                                              Items="@context.AiSectionBestData" Context="aiSectionContext">
                                                        <HeaderContent>
                                                            <MudTh>Section No.</MudTh>
                                                            <MudTh>Result</MudTh>
                                                            <MudTh>Score</MudTh>
                                                            <MudTh>Crown</MudTh>
                                                            <MudTh>Good</MudTh>
                                                            <MudTh>OK</MudTh>
                                                            <MudTh>Bad</MudTh>
                                                            <MudTh>Drumroll</MudTh>
                                                        </HeaderContent>
                                                        <RowTemplate>
                                                            <MudTd>@(aiSectionContext.SectionIndex + 1)</MudTd>
                                                            <MudTd>
                                                                @if (@aiSectionContext.IsWin)
                                                                {
                                                                    <img src="@($"/images/ai_Win.png")" alt="Win" title="Win" style="@IconStyle" />
                                                                }
                                                                else
                                                                {
                                                                    <img src="@($"/images/ai_Lose.png")" alt="Lose" title="Lose" style="@IconStyle" />
                                                                }
                                                            </MudTd>
                                                            <MudTd>@aiSectionContext.Score</MudTd>
                                                                <MudTd>
                                                                    <img src="@($"/images/ai_crown_{aiSectionContext.Crown}.png")" alt="@(GetCrownText(aiSectionContext.Crown))" title="@(GetCrownText(aiSectionContext.Crown))" style="@IconStyle" />
                                                                </MudTd>
                                                                <MudTd>@aiSectionContext.GoodCount</MudTd>
                                                                <MudTd>@aiSectionContext.OkCount</MudTd>
                                                                <MudTd>@aiSectionContext.MissCount</MudTd>
                                                                <MudTd>@aiSectionContext.DrumrollCount</MudTd>
                                                            </RowTemplate>
                                                        </MudTable>
                                                    </MudTabPanel>
                                            }
                                            @if (context.AllPlays.Count > 0)
                                            {
                                                <MudTabPanel Text=@("History (" + @context.AllPlays.Count + ")")>
                                                    <MudTable AllowUnsorted="false" Elevation="0" Breakpoint="@Breakpoint.None" ReadOnly="true" Striped="false"
                                                              Items="@context.AllPlays" T="SongBestHistory" Context="historyList" RowStyleFunc="HighlightBestFunc">
                                                        <HeaderContent>
                                                            <MudTh><MudTableSortLabel SortBy="new Func<SongBestHistory, object>(x=>x.Score)">Score</MudTableSortLabel></MudTh>
                                                            <MudTh><MudTableSortLabel SortBy="new Func<SongBestHistory, object>(x=>(int)x.Crown * 10000000 + x.Score)">Crown</MudTableSortLabel></MudTh>
                                                            <MudTh><MudTableSortLabel SortBy="new Func<SongBestHistory, object>(x=>(int)x.ScoreRank * 10000000 + x.Score)">Rank</MudTableSortLabel></MudTh>
                                                            <MudTh><MudTableSortLabel SortBy="new Func<SongBestHistory, object>(x=>x.GoodCount)">Good</MudTableSortLabel></MudTh>
                                                            <MudTh><MudTableSortLabel SortBy="new Func<SongBestHistory, object>(x=>x.OkCount)">OK</MudTableSortLabel></MudTh>
                                                            <MudTh><MudTableSortLabel SortBy="new Func<SongBestHistory, object>(x=>x.MissCount)">Bad</MudTableSortLabel></MudTh>
                                                            <MudTh><MudTableSortLabel SortBy="new Func<SongBestHistory, object>(x=>x.DrumrollCount)">Drumroll</MudTableSortLabel></MudTh>
                                                            <MudTh><MudTableSortLabel SortBy="new Func<SongBestHistory, object>(x=>x.ComboCount)">Combo</MudTableSortLabel></MudTh>
                                                            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<SongBestHistory, object>(x=>x.PlayTime)">Play Date</MudTableSortLabel></MudTh>
                                                        </HeaderContent>
                                                        <RowTemplate>
                                                            <MudTd>@(historyList.Score)</MudTd>
                                                            <MudTd Style="text-align:center"><img src="@($"/images/crown_{historyList.Crown}.png")" alt="@(GetCrownText(historyList.Crown))" title="@(GetCrownText(historyList.Crown))" style=@IconStyle /></MudTd>
                                                            <MudTd Style="text-align:center">
                                                                @if (historyList.ScoreRank is not ScoreRank.None)
                                                                {
                                                                    <img src="@($"/images/rank_{historyList.ScoreRank}.png")" alt="@(GetRankText(historyList.ScoreRank))" title="@(GetRankText(historyList.ScoreRank))" style=@IconStyle />
                                                                }
                                                            </MudTd>
                                                            <MudTd>@(historyList.GoodCount)</MudTd>
                                                            <MudTd>@(historyList.OkCount)</MudTd>
                                                            <MudTd>@(historyList.MissCount)</MudTd>
                                                            <MudTd>@(historyList.DrumrollCount)</MudTd>
                                                            <MudTd>@(historyList.ComboCount)</MudTd>
                                                            <MudTd>@(historyList.PlayTime)</MudTd>
                                                        </RowTemplate>
                                                    </MudTable>
                                                </MudTabPanel>
                                            }
                                        </MudTabs>
                                    </MudCardHeader>
                                </MudCard>
                            </td>
                        }
                    </ChildRowContent>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </MudItem>
        }
    }
</MudGrid>

